<!DOCTYPE html>
<html>
  <head>
    <title>GoplanApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="/assets/stylesheets/bootstrap@5.3.1/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container mt-2">
      <% unless notice.nil? %>
        <p class="notice alert alert-warning"><%= notice %></p>
      <% end %>
      <% unless alert.nil? %>
        <p class="alert alert-warning"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <script src="/assets/javascript/bootstrap@5.3.1/bootstrap.bundle.min.js"></script>
  </body>
</html>
